<div class="page" ng-controller="UEDetailsController">
  <div class="panel panel-default ens-edit">
    <div class="panel-heading"><strong><span class="glyphicon glyphicon-th"></span> Unités d'Enseignement</strong></div>
    <div class="panel-body">        
        <!-- Edition -->
        <div>            
            <form class="form-horizontal">
                <div class="form-group">
                    <label for="" class="col-sm-2">Code Formation:</label>
                    <div class="col-sm-10">
                        <input type="text" class="form-control" 
                               ng-model="formation.code">
                    </div>                    
                </div>
                <div class="form-group">
                    <label for="" class="col-sm-2">Code UE:</label>
                    <div class="col-sm-10">
                        <input type="text" class="form-control"
                               ng-model="formation.diplome">
                    </div>                    
                </div>                
                <div class="form-group">
                    <label for="" class="col-sm-2">Désignation:</label>
                    <div class="col-sm-10">
                        <input type="text" class="form-control"
                               ng-model="formation.no_annee">
                    </div>                    
                </div>
                <div class="form-group">
                    <label for="" class="col-sm-2">Semestre:</label>
                    <div class="col-sm-10">
                        <input type="text" class="form-control"
                               ng-model="formation.nom">
                    </div>                    
                </div>
                <div class="form-group">
                    <label for="" class="col-sm-2">Description:</label>
                    <div class="col-sm-10">
                        <input type="text" class="form-control"
                               ng-model="formation.double_diplome">
                    </div>                    
                </div>
                <div class="form-group">
                    <label for="" class="col-sm-2">Nombres d'heures (CM):</label>
                    <div class="col-sm-10">
                        <input type="text" class="form-control"
                               ng-model="formation.debut_accreditation">
                    </div>                    
                </div>
                <div class="form-group">
                    <label for="" class="col-sm-2">Nombres d'heures (TD):</label>
                    <div class="col-sm-10">
                        <input type="text" class="form-control"
                               ng-model="formation.fin_accreditation">
                    </div>                    
                </div>
                <div class="form-group">
                    <label for="" class="col-sm-2">Nombres d'heures (TP):</label>
                    <div class="col-sm-10">
                        <input type="text" class="form-control"
                               ng-model="formation.fin_accreditation">
                    </div>                    
                </div>                
            </form>
            <a class="btn btn-success" ng-click="submit()"><span class="glyphicon glyphicon-ok"></span> Valider</a>
            <button class="btn btn-danger pull-right" ng-click="cancel()"> Annuler</button>
        </div>
    </div>
  </div>
</div>
