<!-- 
 -- @Author Mohamed LAKRAA
 -- Details des qualificatifs
 -->
<div class="page" ng-controller="QualificatifDetailsController">
	<div class="portlet light bordered">
		<div class="portlet-title">
			<div class="caption">
				<i class="icon-social-dribble font-red"></i> <span
					class="cpation-subject font-red bold uppercase">Qualificatif</span>
			</div>
		</div>
		<!--------------------------- Consultation --------------------------->
		<div class="portlet-body form" ng-hide="edit">
			<form class="form-horizontal form-bordered">
				<div class="form-group">
					<div class="col-md-3">
						<strong>Minimal</strong>
					</div>
					<div class="col-md-3">{{qualificatif.maximal}}</div>
				</div>
				<div class="form-group">
					<div class="col-md-3">
						<strong>Maximal</strong>
					</div>
					<div class="col-md-3">{{qualificatif.minimal}}</div>
				</div>
				<br>
			</form>
			<!------------------------Boutons Retour et Editer----------->
			<a class="btn btn-primary" href="#/qualificatifs"><span
				class="glyphicon glyphicon-arrow-left"></span> Retour</a>
			<button class="btn btn-warning pull-right" ng-click="edition()">
				<span class="glyphicon glyphicon-pencil"></span> Editer
			</button>
		</div>
		<!--------------------------- Edition --------------------------->
		<div class="portlet-body form" ng-show="edit">
			<form class="form-horizontal">
				<div class="form-group">
					<label for="" class="col-sm-2">Maximal<span
						id="required-field">*</span></label>
					<div class="col-sm-10">
						<input type="text" class="form-control" name="maximal"
							ng-model="qualificatif.maximal" ng-pattern="/^[A-Za-z' \-]+$/"
							ng-maxlength="16" required> <span style="color: red"
							ng-show="qualificatifForm.maximal.$dirty && qualificatifForm.maximal.$invalid">
							<span ng-show="qualificatifForm.maximal.$error.required">Champ
								obligatoire / Type invalide</span>
						</span>
					</div>
				</div>
				<div class="form-group">
					<label for="" class="col-sm-2">Minimal<span
						id="required-field">*</span></label>
					<div class="col-sm-10">
						<input type="text" class="form-control" name="minimal"
							ng-model="qualificatif.minimal" ng-pattern="/^[A-Za-z' \-]+$/"
							ng-maxlength="16" required> <span style="color: red"
							ng-show="qualificatifForm.minimal.$dirty && qualificatifForm.minimal.$invalid">
							<span ng-show="qualificatifForm.minimal.$error.required">Champ
								obligatoire / Type invalide</span>
						</span>
					</div>
				</div>
				<div class="form-group">
					<!------------------------Boutons Valider et Annuler----------->
					<a class="btn btn-success pull-right" ng-click="submit()"
						ng-disabled="qualificatifForm.idQualificatif.$dirty && qualificatifForm.idQualificatif.$invalid
									|| qualificatifForm.maximal.$dirty && qualificatifForm.maximal.$invalid
									|| qualificatifForm.minimal.$dirty && qualificatifForm.minimal.$invalid
									|| qualificatifForm.idQualificatif.$error.required
									|| qualificatifForm.maximal.$error.required
									|| qualificatifForm.minimal.$error.required
							">
						<span class="glyphicon glyphicon-ok"></span> Valider
					</a>
					<a class="btn btn-danger pull-left" href="#/qualificatifs"><span
						class="glyphicon glyphicon-arrow-left"></span> Annuler</a>
				</div>
			</form>
		</div>
	</div>
</div>