<!-- <div style="margin-left: 581px;">
	<img src="images/logo.png" style="width: 200px; height: 100px;">
</div> -->

<div class="page-signin" ng-controller="AuthenticationController as ac">
	<div class="login">
		<div class="menu-toggler sidebar-toggler"></div>
		<div class="content">
			<div>
				<img src="images/logo.png" style="width: 200px; height: 100px;">
			</div>
			<form class="login-form" method="post" name="authotificationForm">
				<div class="form-title">
					<div class="login-options">
						<span class="form-title">Connectez-vous pour acc&eacute;der au syst&egrave;me de Suivi et de Pr&eacute;paration &agrave; l'Insertion Professionnelle.</span>
						<br>
					</div>
				</div>
				<div class="alert alert-danger" ng-show="afficher"">L'adresse e-mail ou le mot de passe saisis incorrectes.</div>
				<div class="form-group">
					<input type="text" name="login" ng-model="login.username"
						class="form-control form-control-solid placeholder-no-fix"
						placeholder="Saisissez votre adresse e-mail" ng-maxlength="240"
						*
                        ng-pattern="/^[A-Z\-_a-z0-9]+$/"
						ng-trim="false" required>
				</div>
				<div class="form-group">
					<input type="password" name="password" ng-model="login.password"
						class="form-control form-control-solid placeholder-no-fix"
						placeholder="Mot de passe" ng-maxlength="32" required>
				</div>
				<div class="form-subtitle"></div>
				<div class="form-subtitle">
					</br>
				</div>
				<div class="form-group">
					<button ng-click="ac.submit()"
						class="btn blue btn-block btn-outline"
						ng-disabled="authotificationForm.login.$dirty && authotificationForm.login.$invalid  
										|| authotificationForm.password.$dirty && authotificationForm.password.$invalid
										|| authotificationForm.login.$error.required
										|| authotificationForm.password.$error.required">Connexion</button>
				</div>
				
			</form>
		</div>
	</div>

</div>