<!-- 
 -- @Author Mohamed LAKRAA
 -- Details des formations
 -->
<div class="page" ng-controller="FormationDetailsController">
	<div class="panel panel-default ens-edit">
		<div class="panel-heading">
			<strong><span class="glyphicon glyphicon-th"></span>
				Formation</strong>
		</div>
		<div class="panel-body">
			<!-- Edition -->
			<div>
				<toaster-container
					toaster-options="{'position-class': 'toast-bottom-right'}"></toaster-container>
				<form class="form-horizontal elegant-aero" name="formationForm">
					<div ng-repeat="alert in alerts" ng-show="alert.show">
						<alert type="alert.type" close="closeAlert($index)">{{alert.msg}}</alert>
					</div>
					<div class="form-group">
						<label for="" class="col-sm-2">Code<span
							id="required-field">*</span></label>
						<div class="col-sm-10">
							<input type="number" class="form-control" name="codeFormation"
								min="1" ng-model="formation.codeFormation"
								ng-disabled="isVisible" required> <span
								style="color: red"
								ng-show="formationForm.codeFormation.$dirty && formationForm.codeFormation.$invalid">
								<span ng-show="formationForm.codeFormation.$error.required">Code
									formation obligatoire.</span>
						</div>
					</div>
					<div class="form-group">
						<label for="" class="col-sm-2">Diplome</label>
						<div class="col-sm-10">
							<select ng-model="myOption"
								ng-options="value.id as value.label group by value.group for value in myOptions">
								<option>--</option>
							</select>
						</div>
					</div>
					<div class="form-group">
						<label for="" class="col-sm-2">No. année</label>
						<div class="col-sm-10">
							<input type="text" class="form-control"
								ng-model="formation.n0Annee" placeholder="Numéro d'année">
						</div>
					</div>
					<div class="form-group">
						<label for="" class="col-sm-2">Nom formation</label>
						<div class="col-sm-10">
							<input type="text" class="form-control"
								ng-model="formation.nomFormation">
						</div>
					</div>
					<div class="form-group">
						<label for="" class="col-sm-2">Double diplôme</label>
						<div class="col-sm-10">
							<input type="text" class="form-control"
								ng-model="formation.doubleDiplome">
						</div>
					</div>
					<div class="form-group">
						<label for="" class="col-sm-2">Début d'accréditation</label>
						<div class="col-sm-10">
							<input type="text" class="form-control"
								ng-model="formation.debutAccreditation">
						</div>
					</div>
					<div class="form-group">
						<label for="" class="col-sm-2">Fin d'accréditation</label>
						<div class="col-sm-10">
							<input type="text" class="form-control"
								ng-model="formation.finAccreditation">
						</div>
					</div>
				</form>
				<a class="btn btn-success" ng-click="submit()"><span
					class="glyphicon glyphicon-ok"></span> Valider</a>
				<button class="btn btn-danger pull-right" ng-click="cancel()">
					Annuler</button>
			</div>
		</div>
	</div>
</div>