<div class="page" ng-controller="EvasDetailsController">
	<div class="panel panel-default ens-edit">
		<div class="panel-heading">
			<strong><span class="glyphicon glyphicon-th"></span>
				évaluation</strong>
		</div>
		<div class="panel-body">
			<!-- Edition -->
			<div ng-show="edit">
				<form class="form-horizontal" name="evaForm">
					<div class="form-group">
						<label for="" class="col-sm-2">Numéro évaluation:<span id="required-field">*</span></label>
						<div class="col-sm-10">
							<input type="number" class="form-control" ng-model="evaluation.noEvaluation" name="noEvaluation" required>
							<span style="color:red" ng-show="evaForm.noEvaluation.$dirty && evaForm.noEvaluation.$invalid">
							<span ng-show="evaForm.noEvaluation.$error.required">Champ obligatoire / Type invalide</span></span>
						</div>
					</div>
					<div class="form-group">
						<label for="" class="col-sm-2">Désignation:<span id="required-field">*</span></label>
						<div class="col-sm-10">
							<input type="text" class="form-control" ng-model="evaluation.designation" name="designation" required>
							<span style="color:red" ng-show="evaForm.designation.$dirty && evaForm.designation.$invalid">
							<span ng-show="evaForm.designation.$error.required">Champ obligatoire / Type invalide</span></span>
						</div>
					</div>
					<div class="form-group">
						<label for="" class="col-sm-2">Etat:<span id="required-field">*</span></label>
						<div class="col-sm-10">
							<select ng-hide="isVisible" ng-model="etatSelected" name="etat" required>
								<option data-ng-repeat="e in etats" value="{{e.rvAbbreviation}}">{{e.rvMeaning}}</option>
							</select>
							<span style="color:red" ng-show="evaForm.etat.$dirty && evaForm.etat.$invalid">
							<span ng-show="evaForm.etat.$error.required">Champ obligatoire / Type invalide</span></span>
						</div>
					</div>
					<div class="form-group">
						<label for="" class="col-sm-2">Période:</label>
						<div class="col-sm-10">
							<input type="text" class="form-control"
								ng-model="evaluation.periode">
						</div>
					</div>
					<div class="form-group">
						<label for="" class="col-sm-2">Début Réponse:<span id="required-field">*</span></label>
						<div class="col-sm-2">
							<input type="date" class="form-control" ng-model="evaluation.debutReponse" name="debutReponse" required>
							<span style="color:red" ng-show="evaForm.debutReponse.$dirty && evaForm.debutReponse.$invalid">
							<span ng-show="evaForm.debutReponse.$error.required">Champ obligatoire / Type invalide</span></span>
						</div>
						<label for="" class="col-sm-2">Fin Réponse:<span id="required-field">*</span></label>
						<div class="col-sm-2">
							<input type="date" class="form-control" ng-model="evaluation.finReponse" name="finReponse" required>
							<span style="color:red" ng-show="evaForm.finReponse.$dirty && evaForm.finReponse.$invalid">
							<span ng-show="evaForm.finReponse.$error.required">Champ obligatoire / Type invalide</span></span>
						</div>
					</div>
					<div class="form-group">
						<label for="" class="col-sm-2">Code formation:<span id="required-field">*</span></label>
						<div class="col-sm-10">
							<input ng-show="isVisible" type="text" class="form-control"
								ng-model="evaluation.code_formation">
							<select ng-hide="isVisible" ng-model="formationSelected" name="codeFormation" ng-change="changeFormation(formationSelected)" required>
								<option data-ng-repeat="f in formations" value="{{f.codeFormation}}">{{f.codeFormation}}</option>
							</select>
							<span style="color:red" ng-show="evaForm.codeFormation.$dirty && evaForm.codeFormation.$invalid">
							<span ng-show="evaForm.codeFormation.$error.required">Champ obligatoire / Type invalide</span></span>
						</div>
					</div>
					<div class="form-group">
						<label for="" class="col-sm-2">Année Universitaire:<span id="required-field">*</span></label>
						<div class="col-sm-10">
							<select ng-hide="isVisible" ng-model="promotionSelected" name="promotion" required>
								<option data-ng-repeat="e in promotions" value="{{e.promotionPK.anneeUniversitaire}}">{{e.promotionPK.anneeUniversitaire}}</option>
							</select>
							<span style="color:red" ng-show="evaForm.promotion.$dirty && evaForm.promotion.$invalid">
							<span ng-show="evaForm.promotion.$error.required">Champ obligatoire / Type invalide</span></span>
						</div>
					</div>
					
					
					<div class="form-group">
						<label for="" class="col-sm-2">Code UE:<span id="required-field">*</span></label>
						<div class="col-sm-10">
							<input type="text" class="form-control"
								ng-model="evaluation.code_ue" ng-show="isvisible"/>
							<select ng-hide="isvisible" ng-model="ueSelected" name="ue" required>
								<option data-ng-repeat="e in UEs" value="{{e.uniteEnseignementPK.codeUe}}">{{e.uniteEnseignementPK.codeUe}}</option>
							</select>
							<span style="color:red" ng-show="evaForm.ue.$dirty && evaForm.ue.$invalid">
							<span ng-show="evaForm.ue.$error.required">Champ obligatoire / Type invalide</span></span>
						</div>
					</div>
					<div class="form-group">
						<label for="" class="col-sm-2">Code EC:</label>
						<div class="col-sm-10">
							<input  type="text" class="form-control"
								ng-model="evaluation.code_ec" ng-show="isvisible">
							<select ng-hide="isvisible" ng-model="ecSelected" name="ec">
								<option data-ng-repeat="e in ECs" value="{{e.elementConstitutifPK.codeEc}}">{{e.elementConstitutifPK.codeEc}}</option>
							</select>
						</div>
					</div>
				</form>
				<button ng-click="submit()" class="btn btn-success"
					ng-disabled="evaForm.noEvaluation.$dirty && evaForm.noEvaluation.$invalid
								|| evaForm.designation.$dirty && evaForm.designation.$invalid
								|| evaForm.etat.$dirty && evaForm.etat.$invalid
								|| evaForm.debutReponse.$dirty && evaForm.debutReponse.$invalid
								|| evaForm.finReponse.$dirty && evaForm.finReponse.$invalid
								|| evaForm.codeFormation.$dirty && evaForm.codeFormation.$invalid
								|| evaForm.promotion.$dirty && evaForm.promotion.$invalid
								|| evaForm.ue.$dirty && evaForm.ue.$invalid
								|| evaForm.noEvaluation.$error.required
								|| evaForm.designation.$error.required
								|| evaForm.etat.$error.required
								|| evaForm.debutReponse.$error.required
								|| evaForm.finReponse.$error.required
								|| evaForm.codeFormation.$error.required
								|| evaForm.promotion.$error.required
								|| evaForm.ue.$error.required
								">Valider</button>
				<button class="btn btn-danger pull-right" ng-click="cancel()">
					Annuler</button>
				<!-- Consultation -->
				<div class="media animate" ng-hide="edit">
					<button class="btn btn-warning pull-right" ng-click="edition()">
						<span class="glyphicon glyphicon-pencil"></span> Editer
					</button>
					<div class="media-body">
						<ul class="list-unstyled list-info">
							<li><span class="icon glyphicon glyphicon-user"></span> <label>Nom</label>
								{{enseignant.sexe == "H" ? 'M.' : 'Mme'}} {{enseignant.nom}}
								{{enseignant.prenom}} ( {{enseignant.type}} )<br /></li>
							<li><span class="icon glyphicon glyphicon-envelope"></span>
								<label>E-mail</label> {{enseignant.emailUbo}}</li>
							<li><span class="icon glyphicon glyphicon-home"></span> <label>Adresse</label>
								{{enseignant.adresse}} {{enseignant.codePostal}}
								{{enseignant.ville}}</li>
							<li><span class="icon glyphicon glyphicon-earphone"></span>
								<label>Téléphone</label> {{enseignant.telephone}}</li>
							<li><span class="icon glyphicon glyphicon-flag"></span> <label>Pays</label>
								{{enseignant.pays}}</li>
						</ul>
					</div>
					<div class="row">
						<div class="col-md-6" ng-show="enseignant.promotions.length">
							<div class="panel-body table-responsive">
								<strong><span class="fa fa-graduation-cap"></span>
									Promotions</strong>
								<table class="table">
									<thead>
										<tr>
											<th>Année</th>
											<th>Code</th>
											<th>Designation</th>
										</tr>
									</thead>
									<tbody>
										<tr ng-repeat="p in enseignant.promotions">
											<td>{{p.promotionPK.anneeUniversitaire}}</td>
											<td>{{p.promotionPK.codeFormation}}</td>
											<td>{{p.siglePromotion}}</td>
										</tr>
									</tbody>
								</table>
							</div>
						</div>
						<div class="col-md-6" ng-show="enseignant.ue.length">
							<div class="panel-body table-responsive">
								<strong><span class="fa fa-university"></span> Unités
									d'Enseignement</strong>
								<table class="table">
									<thead>
										<tr>
											<th>Semestre</th>
											<th>Code</th>
											<th>Designation</th>
										</tr>
									</thead>
									<tbody>
										<tr ng-repeat="ue in enseignant.ue">
											<td>{{ue.semestre}}</td>
											<td>{{ue.uniteEnseignementPK.codeUe}}</td>
											<td>{{ue.designation}}</td>
										</tr>
									</tbody>
								</table>
							</div>
						</div>
					</div>
					<a class="btn btn-primary" href="#/evaluations"><span
						class="glyphicon glyphicon-arrow-left"></span> Retour</a>
				</div>


			</div>
		</div>
	</div>
</div>
