<!-- @Author Zouhair Je-->
<div class="page-header-inner">
	<!-- BEGIN LOGO -->
	<div class="page-logo">
		<a href="#/"> <img src="assets/admin/layout4/img/logo-light.png"
			alt="logo" class="logo-default" />
		</a>
		<div class="menu-toggler sidebar-toggler">
			<!-- DOC: Remove the above "hide" to enable the sidebar toggler button on header -->
		</div>
	</div>
	<!-- END LOGO -->
	<!-- BEGIN RESPONSIVE MENU TOGGLER -->
	<a href="javascript:;" class="menu-toggler responsive-toggler"
		data-toggle="collapse" data-target=".navbar-collapse"> </a>
	<!-- END RESPONSIVE MENU TOGGLER -->
	<!-- BEGIN PAGE ACTIONS -->
	<!-- DOC: Remove "hide" class to enable the page header actions -->
</div>
<!-- END PAGE ACTIONS -->
<!-- BEGIN PAGE TOP -->
<div class="page-top">
	<!-- END HEADER SEARCH BOX -->
	<!-- BEGIN TOP NAVIGATION MENU -->
	<div class="top-menu" ng-controller="AuthenticationController">
		<ul class="nav navbar-nav pull-right">
			<li class="separator hide"></li>
			<!-- BEGIN NOTIFICATION DROPDOWN -->
			<!-- DOC: Apply "dropdown-dark" class after below "dropdown-extended" to change the dropdown styte -->
			<!-- END NOTIFICATION DROPDOWN -->
			<li class="separator hide"></li>
			<!-- BEGIN INBOX DROPDOWN -->
			<!-- DOC: Apply "dropdown-dark" class after below "dropdown-extended" to change the dropdown styte -->
			<!-- END INBOX DROPDOWN -->
			<li class="separator hide"></li>
			<!-- BEGIN TODO DROPDOWN -->
			<!-- DOC: Apply "dropdown-dark" class after below "dropdown-extended" to change the dropdown styte -->
			<!-- END TODO DROPDOWN -->
			<!-- BEGIN USER LOGIN DROPDOWN -->
			<!-- DOC: Apply "dropdown-dark" class after below "dropdown-extended" to change the dropdown styte -->
			<li class="dropdown dropdown-user dropdown-dark"><a href="#"
				class="dropdown-toggle" data-toggle="dropdown" data-hover="dropdown"
				data-close-others="true"> <span
					class="username username-hide-on-mobile"> Administrateur </span> <!-- DOC: Do not remove below empty space(&nbsp;) as its purposely used -->
					<img alt="" class="img-circle"
					src="../../../assets/admin/layout4/img/avatar1.jpg" />
			</a>
				<ul class="dropdown-menu dropdown-menu-default">
					<li><a href="#/dashboard.html"> <i class="icon-home"></i>
							Accueil
					</a></li>
					<li class="divider"></li>
                    <li>
                        <a ng-click="deconnexion()">
                            <i class="icon-power"></i>Deconnexion
                            <span data-i18n="Déconnexion"></span>
                        </a>
                    </li>
				</ul></li>
			<!-- END USER LOGIN DROPDOWN -->
		</ul>
	</div>
	<!-- END TOP NAVIGATION MENU -->
</div>
<!-- END PAGE TOP -->
</div>
<!-- END HEADER INNER -->