<!-- @Author Zouhair -->
<!-- -----------------------------------------------Navigation-------------------------------------- -->
<ul class="page-breadcrumb breadcrumb">
	<li><a href="#/">Accueil</a> <i class="fa fa-circle"></i> </i>
	<li><a href="#">Administration</a> <i class="fa fa-circle"></i></li>
	<li><span class="active">Enseignants</span></li>
</ul>
<!-- -------------------------------------------END Navigation---------------------------------------- -->
<div class="page page-table" data-ng-controller="EnseignantsController">
	<!-- ---------------------------------------Note pour la gestion-------------------------------------- -->
	<div class="row">
		<div class="col-md-12">
			<div class="portlet box red-sunglo">
				<div class="portlet-title">
					<div class="caption">
						<i class="icon-info"></i>Gestion des enseignants
					</div>
					<div class="tools"><a class="remove" data-original-title title></a></div>
					<div class="tools"><a class="collapse" data-original-title title></a></div>
				</div>
				<div class="portlet-body">
					<p>Cette page permet de g&eacute;rer l'ensemble des enseignants du d&eacute;partement informatique de l'UBO.</br>
					Consulter, ajouter, supprimer, et mettre &agrave; jour leur coordonn&eacute;es personnelles, et les unit&eacute;s d'enseignements aff&eacute;ct&eacute;es.</p>
				</div>
			</div>
		</div>
	</div>
	<!-- -----------------------------------END--Note pour la gestion-------------------------------------- -->
	<!-- --------------------------------------- LA GESTION ----------------------------------------------- -->
	<div class="portlet light bordered">
		<div class="portlet-title">
			<div class="caption">
				<i class="icon-social-dribble font-red"></i> <span
					class="cpation-subject font-red bold uppercase">Enseignants</span>
			</div>
			<div>
				<!-- ------------------------Bouton ajouter--------------------------------------- -->
				<button class="btn blue" ng-click="ajoutEnseignant()">
					Nouveau Enseignant<i class="fa fa-plus"></i>
				</button>
				<!-- -----------------------------Recherche--------------------------------------- -->
				<div class="row">
					<span style="float: right;" class="col-sm-4 col-xs-6">
							<input type="text" placeholder="search" class="form-control"
								data-ng-model="searchKeywords" data-ng-keyup="search()">
					</span>
				</div>
			</div>
			<!----------------------------------------La table de liste ---------------------------------------->
			<div class="portlet-body">
				<table class="table-scrollable">
					<table class="table table-hover">
						<thead>
							<tr>
								<th>
									<div class="th">
										Nom <span class="glyphicon glyphicon-chevron-up"
											data-ng-click=" order('nom') "
											data-ng-class="{active: row == 'nom'}"></span> <span
											class="glyphicon glyphicon-chevron-down"
											data-ng-click=" order('-nom') "
											data-ng-class="{active: row == '-nom'}"></span>
									</div>
								</th>
								<th>
									<div class="th">
										Prénom <span class="glyphicon glyphicon-chevron-up"
											data-ng-click=" order('prenom') "
											data-ng-class="{active: row == 'prenom'}"></span> <span
											class="glyphicon glyphicon-chevron-down"
											data-ng-click=" order('-prenom') "
											data-ng-class="{active: row == '-prenom'}"></span>
									</div>
								</th>
								<th><div class="th">
										E-mail <span class="glyphicon glyphicon-chevron-up"
											data-ng-click=" order('email') "
											data-ng-class="{active: row == 'email'}"></span> <span
											class="glyphicon glyphicon-chevron-down"
											data-ng-click=" order('-email') "
											data-ng-class="{active: row == '-email'}"></span>
									</div></th>
							</tr>
						</thead>
						<tbody>
							<!-- currentPageEnseignant / enseignants -->
							<tr data-ng-repeat="e in currentPageEnseignant"
								class="enseignant">
								<td ng-click="edit(e.noEnseignant)">{{e.nom}}</td>
								<td ng-click="edit(e.noEnseignant)">{{e.prenom}}</td>
								<td ng-click="edit(e.noEnseignant)">{{e.emailUbo}}</td>
								<td ng-click="edit(e.noEnseignant)"><span class="glyphicon glyphicon-edit"></span></td>
								<td ng-click="supprime(e.noEnseignant)"><span class="glyphicon glyphicon-trash"></span></td>
							</tr>
						</tbody>
					</table>
				</table>
				<!-- -------------------------------Footer ----------------------- -->
				<footer class="table-footer">
					<div class="row">
						<div class="col-md-6 page-num-info">
							<span> Afficher <select data-ng-model="numPerPage"
								data-ng-options="num for num in numPerPageOpt"
								data-ng-change="onNumPerPageChange()">
							</select> par page
							</span>
						</div>
						<div class="col-md-6 text-right pagination-container">
							<pagination class="pagination-sm" ng-model="currentPage"
								total-items="filteredEnseignant.length" max-size="4"
								ng-change="select(currentPage)" items-per-page="numPerPage"
								rotate="false" boundary-links="true"></pagination>
						</div>
					</div>
				</footer>
			</div>
		</div>
	</div>

	<!-- ----------------------------------------------------------------------------------------------------  -->
</div>
